.ChangeAlert-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #1e1e1f50;
    z-index: 2;
}

.ChangeAlert-container {
    position: fixed;
    bottom: -10px;
    right: -10px;
    left: -10px;
    padding: 34px;
    background-color: #1e1e1f;
    color: #f2f4f5;
    z-index: 2;
    text-align: center;
    font-size: 20px;
}

.reload-button {
    cursor: pointer;
    font-size: 18px;
    color: #202329;
    font-weight: 400;
    width: 120px;
    height: 48px;
    border-radius: 10px;
    border: none;
    font-family: 'Montserrat';
    background: #61dafa;
    box-shadow: 0px 5px 25px rgba(97, 218, 250, 0.5);
}